.ReactTable .rt-th {
    background-color: "#FFFFFF";
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.div .rt-th {
    background-color: "#FFFFFF";
}

@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./fonts/CamphorPro.woff) format('woff');
}